.etiquetas{ 
                font-family:Arial;
                font-size:10px;
                font-weight:bold;
                color:black;
                text-align: right;
}
.etiquetas_tab{ 
                font-family:Arial;
                font-size:12px;
                font-weight:bold;
                color:black;
                text-align: left;
}
.etiquetas_tabtotales{ 
                font-family:Arial;
                font-size:14px;
                font-weight:bold;
                color:black;             
}
.etiquetasmensaje{ 
                font-family:Arial;
                font-size:14px;
                font-weight:bold;
                color:red;         
                text-transform: uppercase;      
}
.etiquetasmensajeerror {
                font-family:Arial;
                font-size:10px;
                font-weight:bold;
                color:red;         
                text-transform: uppercase;      
           }
.cajastextoparametro{
                font-family:Arial;
                font-size:10px;
                height:10px;
                font-weight:bold;
                text-transform: uppercase;               
}
.cajastexto{
                font-family:Arial;
                font-size:10px;
                height:10px;
                text-transform: uppercase;
                color:black;
 }
.cajastextonumerico{
                font-family:Arial;
                font-size:10px;
                text-transform: uppercase;
                text-align:right;
                color:black;
                height:10px;
 }
.tablas{
                border: 1px outset #FFCC00;              
                margin-top: 2px;
                margin-bottom: 2px;
                width: 775px;
                height: 1px;
}
.tablalogin{
                margin-left: auto;
                margin-right: auto;
                width: 209px;
}
.botones{
                width:70px;
}
.tabla_tabcontainer{
                border-style: none;
                border-color: inherit;
                border-width: 1px;     
                width: 718px;                                       
}
.panel_tab{
                height:230px;
                width:755px;
}
.grillas_tab{
                font-family:Arial;
                font-size:12px;
}