#fondo{
       background-color:white;
      
}
#contenedor{
      width: 990px;
      border:outset 2px lightgrey;
      margin: auto;
      height:590px;
      position:relative;
}
#logo{
      color: #FFFFFF;
      width: 210px;     
      height: 130px;
      float:left;
      background-color: #778CB3;
      position:absolute;
}
#logo_imagen{
       width: 210px;
       height: 130px;
}
#contenido
{
      width: 775px;
      height:589px;
      background-color:whitesmoke;
      right:1px;
      float:right;
      position:absolute;
  }
#menulateral{
      color: black;
      background-color:lightblue;
      width: 210px;     
      height: 415px;
      float:left;
      position:absolute;
      top:130px;
}
#panelmenu
{
      height: 310px;
      width: 205px;
      border:inset 2px lightgrey;
      background-color:white;
}
#panellogin
{
      height: 200px;
      width: 205px;
      border:inset 2px lightgrey;
}
#pie
{
      height: 40px;
      width: 212px;
      position:absolute;
      float:left;
      bottom:3px;
}
