<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="ConnectionString_FamilyShop" connectionString="Dsn=DesaWeb;uid=desaweb;pwd=Dsa.web" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <system.web>
    
    <authentication mode="Forms">
      <forms defaultUrl="~/Cliente.aspx" loginUrl="~/Bienvenida.aspx" protection="All" path="/" timeout="30"  name=".ASPXFORMSAUTH">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users = "*" />
    </authorization>
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>